.Loading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Loading p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    font-size: 30px;
}